<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/examone.css">
    <title>Maths</title>
</head>
<!-- <body>
    <header>
        <nav class = "main_container">
            <div class="nav_main_inner_box">
                <div class = "logo_section">
                    <h1>STUDENTJSQUIZ.com</h1> 
                </div>
                <ul id="nav_list">
                    <li><a href="">HOME</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">LOGIN</a></li>
                    <li><a href="signup.html">REGISTER</a></li>
                </ul>
            </div>            
        </nav>
    </header> -->
<main class="quiz_sect_wrap">
    <div class="sect_container">
        <div id="quiz">
            <h2 id="question">Question</h2>
            <ul id="ul_container">
                <li class="input_options">
                    <input type="radio" name="Answer" id="a" class="choices">
                    <label for="a" id="a_data">Choice_1</label>
                </li>
                <li class="input_options">
                    <input type="radio" name="Answer" id="b" class="choices">
                    <label for="b" id="b_data">Choice_2</label>
                </li>
                <li class="input_options">
                    <input type="radio" name="Answer" id="c" class="choices">
                    <label for="c" id="c_data">Choice_3</label>
                </li>
                <li class="input_options">
                    <input type="radio" name="Answer" id="d" class="choices">
                    <label for="d" id="d_data">Choice_4</label>
                </li>

            </ul>


            <div class="btncontainer">
                <button type="submit" id="myBtn" class="next_btn">Next Question</button>
            </div>
        </div>


    </div>

    <div class="questions">
        <p class="questionstext">Questions:</p>
        <div class="questionscontainer">
            <button class="ques redques">1</button>
            <button class="ques redques">2</button>
            <button class="ques redques">3</button>
            <button class="ques redques">4</button>
            <button class="ques redques">5</button>
            <button class="ques redques">6</button>
            <button class="ques redques">7</button>
            <button class="ques redques">8</button>
            <button class="ques redques">9</button>
            <button class="ques redques">10</button>
        </div>
        <div class="submitcontainer">
            <button type="finish" id="finish">Submit</button>
        </div>
    </div>

</main>
<!-- <div class="submitcontainer">
    <button type="finish" class="finish">Submit</button>
</div> -->
<script src="../js/exammaths.js"></script>
</body>

</html>